<div class="container-fluid" ng-hide="!isAuthed">
	<div class="row">
		<div class="col-md-12">
			<h1 id="artistName">Create a Shop</h1>
			<p>This process will create a new shop. You will become the shop administrator, and will later be able to add artists to the shop.Shops must first be approved by SCI before they are publicly visible.</p>

		</div>
	</div>


	<div class="row" 
		 ng-controller="shopController" 
		 flow-files-submitted="$flow.upload()"
		 flow-init="{testChunks:false, target: 'http://localhost:8080/shops/license-upload', singleFile: true}"
		 flow-name="obj.flow">

		<div class="col-md-12">

			<h4 class="error">{{errorText}}</h4>
				
			<form ng-submit="createShop(newShop, $flow.files[0], $flow)" method="post" name="convertForm">
				<h4>Shop Name</h4>
				<input required class="large invert muli light well animate" ng-model="newShop.name" placeholder="Name" />
				
				<h4>Phone</h4>
				<input phone-input required class="large invert muli light well animate" ng-model="newShop.phone" type="tel" placeholder="Phone" />

				<hr />

				<h4>Address</h4>
				<input required class="large invert muli light well animate" ng-model="newShop.addr" placeholder="Address" />
				
				<h4>Address 2 (optional)</h4>
				<input class="large invert muli light well animate" ng-model="newShop.addr2" placeholder="Address 2" />
				
				<h4>City</h4>
				<input required class="large invert muli light well animate" ng-model="newShop.city" placeholder="City" />

				<h4>State</h4>
				<input required class="large invert muli light well animate" ng-model="newShop.state" placeholder="State" />

				<h4>ZIP</h4>
				<input zip-input required type="tel" class="large invert muli light well animate" ng-model="newShop.zip" placeholder="ZIP" />

				<hr />

				<h4>State License ID</h4>
				<input required type="tel" class="large invert muli light well animate" ng-model="newShop.license_id" placeholder="ID" />

				<h4>State of License</h4>
				<input required class="large invert muli light well animate" ng-model="newShop.license_state" placeholder="State" />

				<h4>Expiration Date</h4>
				<input date-input required class="large invert muli light well animate" ng-model="newShop.license_exp" placeholder="Date (MM/DD/YYYY)" />

				<h4>License Upload</h4>

				<div>
					
					<input type="file" flow-btn>

					<input type="button" value="Clear" ng-click="clearLicense($flow)" />


					<p>
						<img flow-img="$flow.files[0]" title="License upload." class="img-thumbnail thumbnail" ng-show="$flow.files[0]">
					</p>
				</div>

	 			<hr />

				<h4>Unique URL</h4>
				showcased.ink/#/shop/<input required class="large inline invert muli light well animate" ng-model="newShop.url" placeholder="Custom URL" />

	 			<p ng-show="user.isArtist">
	 				<hr />
	 				
	 				<input type="checkbox" ng-model="newShop.isArtist" id="isArtist" />
	 				<label for="isArtist">Add me as an artist of {{newShop.name || 'the shop'}}.</label>
	 			</p>

				<div class="pull-right">
					<button ng-class="{'disabled': disable}" class="btn btn-2 invert" type="submit">Create</button>
				</div>

			</form>
		</div>

	</div>
</div>

<div class="container-fluid" ng-hide="isAuthed">
	<div class="row">
		<div class="col-md-12">
			<h1 id="artistName">You must login to create a shop.</h1>
		</div>
	</div>

</div>