<div class="container-fluid" ng-init="showInfo = true; redirect();">
	<h1 id="artistName">Manage {{::shop.name}}</h1>

	<ul id="manage" class="nav nav-pills nav-stacked col-md-3 hidden-xs hidden-sm affix-menu">
		<li role="presentation" ng-class="{'active': showInfo}">
  			<a href ng-click="showArtists = false; showAdmins = false; showLicenses = false; showInfo = true">Info</a>
  		</li>
  		<li role="presentation" ng-class="{'active': showArtists}">
  			<a href ng-click="showArtists = true; showAdmins = false; showLicenses = false; showInfo = false">Artists</a>
  		</li>
	  	<li role="presentation" ng-class="{'active': showAdmins}">
	  		<a href ng-click="showArtists = false; showAdmins = true; showLicenses = false; showInfo = false">Admins</a>
	  	</li>
		<li role="presentation" ng-class="{'active': showLicenses}">
			<a href ng-click="showArtists = false; showAdmins = false; showLicenses = true; showInfo = false">Licenses</a>
		</li>
	</ul>


	<div class="col-md-9 col-xs-12 pull-right" ng-show="showInfo"  
		ng-controller="shopController" 
		 flow-files-submitted="$flow.upload()"
		 flow-init="{testChunks:false, target: 'http://localhost:8080/shops/license-upload', singleFile: true}"
		 flow-name="obj.flow">

	<form ng-submit="updateShop(shop)">
		<div class="container-fluid">
			<h2>Shop Name</h2>
				
			<input placeholder="Shop Name" required ng-model="shop.name" class="padding-large fill animate-dark" />
		</div>

		<hr />

		<div class="container-fluid">
			<h2>Phone</h2>

			<input placeholder="Phone Number" required ng-model="shop.phone" class="padding-large fill animate-dark" />
		</div>

		<hr />

		<div class="container-fluid">
			<h2>Address</h2>
				<input placeholder="Address" required ng-model="shop.address.address1" class="col-md-8 padding-large animate-dark" />	
				<input placeholder="Address 2" ng-model="shop.address.address2" class="col-md-push-1 col-md-3 padding-large animate-dark" />
		</div>
		
		<hr />

		<div class="container-fluid">
			<h2>Cover Image</h2>
			<div class="col-md-3">
				<input type="file" flow-btn flow-attrs="{accept:'image/*'}" />
			</div>

				<img ng-hide="shop.background || $flow.files[0]" class="col-md-9 img-thumbnail" src="/img/wallpaper_tattoo_blur2.png" />
				<img ng-show="shop.background" ng-hide="$flow.files[0]" class="col-md-9 img-thumbnail" 
					 ng-src="http://{{url}}:{{cdnPort}}/gallery/{{shop.background}}" />

				<img flow-img="$flow.files[0]" title="Cover Image" class="col-md-9 img-thumbnail" ng-show="$flow.files.length">
		</div>

		<hr />

		<div class="container-fluid">
			<input type="submit" class="btn btn-2 invert pull-right" value="Save" />
		</div>
	</form>
	</div>




	<div class="col-md-9" ng-show="showArtists">
		<p class="error">{{artistError}}</p>	
		<form ng-submit="addArtist(add.artist)">
			<input class="fancy" placeholder="User Email" ng-model="add.artist" /> <input type="submit" value="Add" class="btn btn-2 xtra-small invert" />
		</form>

		<div class="row">
		<table class="table table-striped">
		  	<thead>
		        <tr>
		          <th>Name</th>
		          <th>Email</th>
		          <th>Operation</th>
		        </tr>
	      	</thead>

	      	<tbody>
		        <tr ng-repeat="artist in shop.artists track by $index">
		          <td><a href="#/artist/{{artist.artist.url}}">{{artist.fName}} {{artist.lName}}</a></td>
		          <td>{{artist.email}}</td>
		          <td ng-show="$index == '0'">Delete</td>
		          <td ng-show="$index > '0'"><a href ng-click="removeArtist(artist._id)">Delete</a></td>
		        </tr>
	      	</tbody>
		</table>

		</div>
	</div>

	<div class="col-md-9" ng-show="showAdmins">
		<p class="error">{{adminError}}</p>	

		<form ng-submit="addAdmin(add.admin)">
			<input class="fancy" placeholder="User Email" ng-model="add.admin" /> <input type="submit" value="Add" class="btn btn-2 xtra-small invert" />
		</form>

		<div class="row">
		<table class="table table-striped">
		  	<thead>
		        <tr>
		          <th>Name</th>
		          <th>Email</th>
		          <th>Operation</th>
		        </tr>
	      	</thead>

	      	<tbody>
		        <tr ng-repeat="admin in shop.adminList track by $index">
		          <td><a href="#/artist/{{artist.artist.url}}">{{admin.fName}} {{admin.lName}}</a></td>
		          <td>{{admin.email}}</td>
		          <td ng-show="$index == '0'">Delete</td>
		          <td ng-show="$index > '0'"><a href ng-click="removeAdmin(admin._id)">Delete</a></td>
		        </tr>
	      	</tbody>
		</table>
		</div>
	</div>	

	<div class="col-md-9" ng-show="showLicenses">
			<div class="row">
		<table class="table table-striped">
		  	<thead>
		        <tr>
		          <th>Start</th>
		          <th>Expiration</th>
		          <th>State</th>
		        </tr>
	      	</thead>

	      	<tbody>
		        <tr ng-repeat="license in shop.license.history track by $index">
		          <td>{{license.start | date}}</td>
		          <td>{{license.expiration | date}}</td>
		          <td>{{shop.license.state}}</td>
		        </tr>
	      	</tbody>
		</table>
		</div>
	</div>
</div>