<div class="container-fluid">
	<div class="row">
		<div class="col-md-7 col-md-push-1">
		    <h3 class="muli title">Recent Reviews</h3>
			<div class="well col-md-12" style="display: inline-block">
			<h2 ng-show="shop.reviews.length == 0" class="col-xs-12 center faded">No reviews yet.</h2>
			
			<div ng-repeat="review in shop.reviews" ng-show="shop.reviews.length > 0">
			
				<div class="review col-xs-12">

					<h4 class="title"><span class="date muli light">{{review.date | date: 'MMM d, yyyy'}}</span></h4>
					<p style="margin-top: 30px;">{{review.text}}</p>

					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Professionalism:
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 1, 'fa-star-o': review.professionalism < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 2, 'fa-star-o': review.professionalism < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 3, 'fa-star-o': review.professionalism < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 4, 'fa-star-o': review.professionalism < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 5, 'fa-star-o': review.professionalism < 5}"></i>
					</div>
					</div>
					<br />

					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Cleanliness:
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 1, 'fa-star-o': review.cleanliness < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 2, 'fa-star-o': review.cleanliness < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 3, 'fa-star-o': review.cleanliness < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 4, 'fa-star-o': review.cleanliness < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 5, 'fa-star-o': review.cleanliness < 5}"></i>
						</div>
					</div>

					<br />
					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Quality:
						<i class="fa" ng-class="{'fa-star': review.quality >= 1, 'fa-star-o': review.quality < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 2, 'fa-star-o': review.quality < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 3, 'fa-star-o': review.quality < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 4, 'fa-star-o': review.quality < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 5, 'fa-star-o': review.quality < 5}"></i>
					</div>
					</div>

					<br />
					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Cost:
						<i class="fa" ng-class="{'fa-star': review.cost >= 1, 'fa-star-o': review.cost < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 2, 'fa-star-o': review.cost < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 3, 'fa-star-o': review.cost < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 4, 'fa-star-o': review.cost < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 5, 'fa-star-o': review.cost < 5}"></i>
					</div>
					</div>
					
					<br />
					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Overall:
						<i class="fa" ng-class="{'fa-star': review.overall >= 1, 'fa-star-o': review.overall < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 2, 'fa-star-o': review.overall < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 3, 'fa-star-o': review.overall < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 4, 'fa-star-o': review.overall < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 5, 'fa-star-o': review.overall < 5}"></i>
					</div>
					</div>

					<div class="pull-right info">
						&ndash; <a ng-href="#/profile/{{review.author.id}}">{{review.author.fName}} {{review.author.lName}}</a>
					</div>
				</div>
			</div>
			</div>

			<div id="newReview" class="well row" ng-show="isAuthed && !isAdmin" style="display: inline-block;">
				<form ng-submit="addReview()">
					<ul class="rating col-xs-4">
						<li>Professionalism</li>
						<li class="rating"><span star-rating ng-model="review.pro"></span></li>

						<li>Cleanliness</li>
						<li class="rating"><span star-rating ng-model="review.clean"></span></li>

						<li>Quality<li>
						<li class="rating"><span star-rating ng-model="review.quality"></span></li>

						<li>Cost<li>
						<li class="rating"><span star-rating ng-model="review.cost"></span></li>

						<li>Overall<li>
						<li class="rating"><span star-rating ng-model="review.overall"></span></li>
					</ul>

					<textarea class="col-xs-8 fancy" ng-model="review.text"></textarea>

					<div class="col-xs-12"><input type="submit" class="btn btn-2 small invert pull-right" /></div>
				</form>
			</div>
		</div>

		<div class="col-md-3 col-md-push-1">

		<h3 class="muli">At a Glance
		    	<a href ng-show="isAdmin" ng-hide="editGlance" ng-click="editGlance = true"><i class="fa fa-pencil pull-right"></i></a>
		    	<div class="pull-right" ng-show="editGlance">
			    	<a href ng-click="saveGlance()"><i class="fa fa-check green"></i></a>
			    	<a href ng-click="reload()"><i class="fa fa-close"></i></a>
			    </div>
		</h3>
		<div class="well">
			<ul id="glance">
				<li>Walk-ins Accepted 
					<span class="pull-right" ng-hide="editGlance">{{shop.glance.walkIns ? 'Yes' : 'No'}}</span>
					<select class="pull-right" ng-show="editGlance" ng-model="glance.walkIns">
						<option ng-selected="shop.glance.walkIns" value="true">Yes</option>
						<option ng-selected="!shop.glance.walkIns" value="false">No</option>
					</select>
				</li>
				<li ng-show="shop.glance.knownFor || editGlance">Known For 
					<span class="pull-right" ng-hide="editGlance">{{shop.glance.knownFor}}</span>
					<input type="text" class="pull-right fancy" style="width: 100px;" ng-model="glance.knownFor" 
						ng-show="editGlance"/>
				</li>
			</ul>
		</div>


		    <h3 class="muli">Hours 
		    	<a href ng-show="isAdmin" ng-hide="editHours" ng-click="editHours = true"><i class="fa fa-pencil pull-right"></i></a>
		    	<div class="pull-right" ng-show="editHours">
			    	<a href ng-click="saveHours()"><i class="fa fa-check green"></i></a>
			    	<a href ng-click="reload()"><i class="fa fa-close"></i></a>
			    </div>
		    </h3>
			<div class="well">
				<ul id="hours">
					<li ng-class="isOpen(0, shop.hours.sunday)">
						Sunday: 
						<span class="time">

							<span ng-hide="editHours">{{sunday.open}} <span ng-show="shop.hours.sunday.isOpen"> - {{sunday.close}}</span></span>
							<div ng-show="editHours" class="editHours">
								<input type="text" id="sunday-open" 
								class="fancy fill time-picker" data-time-format="h:ia" ng-model="sunday.open"/> 
								<span ng-hide="sunday.open == 'Closed'"> -&nbsp;
									<input type="text" class="fancy fill time-picker" 
							 		data-time-format="h:ia" id="sunday-close" ng-model="sunday.close"/>

								</span>
							</div>
						</span>						
					</li>

					<li ng-class="isOpen(1, shop.hours.monday)">
						Monday:
						<span class="time">
							<span ng-hide="editHours">{{monday.open}} <span ng-show="shop.hours.monday.isOpen"> - {{monday.close}}</span></span>
							<div ng-show="editHours" class="editHours">
								<input type="text" id="monday-open" 
								class="fancy fill time-picker" data-time-format="h:ia" ng-model="monday.open"/> 
								<span ng-hide="monday.open == 'Closed'"> -&nbsp;
									<input type="text" class="fancy fill time-picker" 
							 		data-time-format="h:ia" id="monday-close" ng-model="monday.close"/>

								</span>
							</div>
						</span>			
					</li>

					<li ng-class="isOpen(2, shop.hours.tuesday)">
						Tuesday:
						<span class="time">
							<span ng-hide="editHours">{{tuesday.open}} <span ng-show="shop.hours.tuesday.isOpen"> - {{tuesday.close}}</span></span>
							<div ng-show="editHours" class="editHours">
								<input type="text" id="tuesday-open" 
								class="fancy fill time-picker" data-time-format="h:ia" ng-model="tuesday.open"/> 
								<span ng-hide="tuesday.open == 'Closed'"> -&nbsp;
									<input type="text" class="fancy fill time-picker" 
							 		data-time-format="h:ia" id="tuesday-close" ng-model="tuesday.close"/>

								</span>
							</div>
						</span>			
					</li>

					<li ng-class="isOpen(3, shop.hours.wednesday)">
						Wednesday: 
						<span class="time">
							<span ng-hide="editHours">{{wednesday.open}} <span ng-show="shop.hours.wednesday.isOpen"> - {{wednesday.close}}</span></span>
							<div ng-show="editHours" class="editHours">
								<input type="text" id="wednesday-open" 
								class="fancy fill time-picker" data-time-format="h:ia" ng-model="wednesday.open"/> 
								<span ng-hide="wednesday.open == 'Closed'"> -&nbsp;
									<input type="text" class="fancy fill time-picker" 
							 		data-time-format="h:ia" id="wednesday-close" ng-model="wednesday.close"/>

								</span>
							</div>
						</span>		
					</li>

					<li ng-class="isOpen(4, shop.hours.thursday)">
						Thursday: 
						<span class="time">
							<span ng-hide="editHours">{{thursday.open}} <span ng-show="shop.hours.thursday.isOpen"> - {{thursday.close}}</span></span>
							<div ng-show="editHours" class="editHours">
								<input type="text" id="thursday-open" 
								class="fancy fill time-picker" data-time-format="h:ia" ng-model="thursday.open"/> 
								<span ng-hide="thursday.open == 'Closed'"> -&nbsp;
									<input type="text" class="fancy fill time-picker" 
							 		data-time-format="h:ia" id="thursday-close" ng-model="thursday.close"/>

								</span>
							</div>
						</span>	
					</li>

					<li ng-class="isOpen(5, shop.hours.friday)">
						Friday: 
						<span class="time">
							<span ng-hide="editHours">{{friday.open}} <span ng-show="shop.hours.friday.isOpen"> - {{friday.close}}</span></span>
							<div ng-show="editHours" class="editHours">
								<input type="text" id="friday-open" 
								class="fancy fill time-picker" data-time-format="h:ia" ng-model="friday.open"/> 
								<span ng-hide="friday.open == 'Closed'"> -&nbsp;
									<input type="text" class="fancy fill time-picker" 
							 		data-time-format="h:ia" id="friday-close" ng-model="friday.close"/>

								</span>
							</div>
						</span>	

					</li>

					<li ng-class="isOpen(6, shop.hours.saturday)">
						Saturday:
						<span class="time">
							<span ng-hide="editHours">{{saturday.open}} <span ng-show="shop.hours.saturday.isOpen"> - {{saturday.close}}</span></span>
							<div ng-show="editHours" class="editHours">
								<input type="text" id="saturday-open" 
								class="fancy fill time-picker" data-time-format="h:ia" ng-model="saturday.open"/> 
								<span ng-hide="saturday.open == 'Closed'"> -&nbsp;
									<input type="text" class="fancy fill time-picker" 
							 		data-time-format="h:ia" id="saturday-close" ng-model="saturday.close"/>

								</span>
							</div>
						</span>	
					</li>
				</ul>
			</div>

			<div ng-show="isAdmin">
				<hr />
				<a ng-href="#/shop/{{shop.customUrl}}/manage">
					<div class="well">
						Manage Shop <i class="fa fa-angle-right pull-right"></i>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>