<div class="container-fluid" ng-init="getShopFromUrl()">
	<div class="row">
		<div class="col-md-12">
			<h1 id="artistName">Shop created successfully.</h1>

			<p>Shop profiles require approval. You will be notified by e-mail if your profile has been approved. If your profile is denied, we will let you know the specific reasons. Until approval, your profile will not be publicly accessible.</p>

			<div class="row center">
				<a ng-href="#/shop/{{shopDetails.customUrl}}" class="btn btn-2 btn-large invert">View Your Shop <i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</div>

</div>