<div ng-hide="isAuthed">
	<!-- If not authed -->
	<h4 class="center"><a ng-click="$parent.$parent.showLogin = true; $parent.$parent.hideModal = false" href="#">Login</a> or 
	<a ng-click="$parent.$parent.hideModal = false; $parent.$parent.showRegistration = true" href="#"> Create an account</a></h4>
</div>

<div ng-show="isAuthed">
	<!-- If authed -->
	<h4  style="margin-top: 0px;"><span class="muli light">Hello,</span> {{user.fName}} {{user.lName}}.</h4>
	<hr />
		<div ng-controller="profileController" ng-init="getCounts(user.id)">
			Comments: {{counts.meta.commentCount}}
		</div>
</div>