<ul id="newPhotos" class="linear scroll" ng-init="getRecentPhotos()">
	<!-- <h3 class="faded muli light" ng-hide="recentPhotos.count"><i>No images uploaded.</i></h3> -->
	<li ng-repeat="image in recentPhotos track by $index" ng-show="recentPhotos">
		<a ng-href="#/photo/{{image._id}}">
			<div class="img-rounded">
				<img image-exists ng-src="http://{{url}}:8888/gallery/{{image.path}}" />
			</div>
		</a>
	</li>
</ul>