<a href><i class="fa" ng-click="ngModel = 1" ng-class="{ 'fa-star': ngModel >= 1, 'fa-star-o': !ngModel}"></i></a>
<a href><i class="fa" ng-click="ngModel = 2" ng-class="{ 'fa-star': ngModel >= 2, 'fa-star-o': ngModel < 2 || !ngModel}"></i></a>
<a href><i class="fa" ng-click="ngModel = 3" ng-class="{ 'fa-star': ngModel >= 3, 'fa-star-o': ngModel < 3 || !ngModel}"></i></a>
<a href><i class="fa" ng-click="ngModel = 4" ng-class="{ 'fa-star': ngModel >= 4, 'fa-star-o': ngModel < 4 || !ngModel}"></i></a>
<a href><i class="fa" ng-click="ngModel = 5" ng-class="{ 'fa-star': ngModel >= 5, 'fa-star-o': ngModel < 5 || !ngModel}"></i></a>