<style>
	.tag-list {
		width: 300px;
		display: block; 
		/*margin-bottom: -15px;*/
		font-size: 0.9em;
	}

	.tag-list ul {
		padding-left: 0px;
	}

	.tag-list ul > li {
		border: 1px solid #fff;
		padding: 5px 8px;
		margin-left: 10px;
		margin-bottom: 20px;
		display: inline-block;
		border-radius: 3px;
	}

	.tag-list .close {
		margin-left: 10px;
		color: #fff;
	}

	.ui-autocomplete {
		position: absolute;
		z-index: 10000;
	}
</style>

<div class="tag-container">
	<div class="tag-list">
		<ul>
		{{addedTags}}
			<li ng-repeat="tag in model track by $index">{{tag}} <a class="close" ng-click="close(tag)" href><i class="fa fa-close"></i></a></li>
		</ul>
	</div>
	<input type="text" placeholder="{{placeholder}}" ng-model="input.tags" class="fancy large invert animate"/>
</div>