<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1>Search Results for "{{keyword}}"</h1>
		</div>

		<div class="col-md-12 searchResults">
			<h2 class="header">Shops (0)</h2>
			<!-- Result List -->
			<ul class="resultList">
				<li>
					<a href>
						<div class="container">
							<div class="col-xs-1">
								<span class="number">1</span> 
							</div>
							<div class="col-xs-3 info">
								<span class="title">Shop Name</span><br />
								<span class="city">Philadelphia, PA</span>
							</div>

							<div class="col-xs-offset-5 col-xs-3 comments">
								<div class="pull-right">
									<span class="count">5</span>
									<i class="fa fa-comment"></i><br /><br />

									<span class="count">4.3</span>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</div>
					</a>
				</li>

					<li>
					<a href>
						<div class="container">
							<div class="col-xs-1">
								<span class="number">2</span> 
							</div>
							<div class="col-xs-3 info">
								<span class="title">Shop Name</span>
								<span class="city">Philadelphia, PA</span>
							</div>

							<div class="col-xs-offset-5 col-xs-3 comments">
								<div class="pull-right">
									<span class="count">5</span>
									<i class="fa fa-comment"></i><br /><br />

									<span class="count">4.3</span>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</div>
					</a>
				</li>
			</ul>
		</div>

		<div class="col-md-12 searchResults">
			<h2 class="header">Artists ({{artistCount}})</h2>

			<h2 class="faded" ng-hide="artistCount > 0">No artists found.</h2>

			<ul class="resultList">
				<li ng-repeat="artist in artistList track by $index">
					<a ng-href="/#/artist/{{artist.artist.url}}">
						<div class="container">
							<div class="col-xs-1">
								<span class="number">{{$index + 1}}</span> 
							</div>
							<div class="col-xs-4 info">
								<span class="title">{{artist.fName}} {{artist.lName}} 
								<small ng-show="artist.artist.nickname">({{artist.artist.nickname}})</small></span><br />
								<span class="city">{{artist.artist.address.city}}, {{artist.artist.address.state}}</span>
							</div>

							<!-- Thumbnails -->
<!-- 							<div class="col-xs-1">
								<img image-exists ng-src="http://{{url}}:8888/gallery/{{artist.imageInfo.images[0].path}}" class="img-rounded" />
							</div>

							<div class="col-xs-1">
								<img image-exists ng-src="http://{{url}}:8888/gallery/{{artist.imageInfo.images[1].path}}" class="img-rounded" />
							</div> -->

							<div class="col-xs-offset-4 col-xs-3 comments">
								<div class="pull-right">
									<span class="count">{{artist.imageInfo.count || 0}}</span>
									<i class="fa fa-image"></i><br /><br />

									<span class="count">4.3</span>
									<i class="fa fa-star"></i>
								</div>
							</div>
						</div>
					</a>
				</li>
			</ul>

		</div>

		<div class="col-md-12 searchResults">
			<h2 class="header">Image Tags ({{imageCount}})</h2>
			<h2 class="faded" ng-hide="imageCount > 0">No images found.</h2>

			<ul class="linear">
				<li ng-repeat="image in tagResults track by $index" class="col-xs-2 center">
					<a ng-href="#/photo/{{image._id}}">
						<div class="img-rounded">
							<img image-exists ng-src="http://{{url}}:{{cdnPort}}/gallery/{{image.path}}"/>
						</div>
					</a>
					<span class="title">{{image.title}}</span>
					<span class="desc"><a ng-href="#/artist/{{image.artist.artist.url}}">{{image.artist.fName}} {{image.artist.lName}}</a></span>
				</li>
			</ul>
		</div>
	</div>

</div>