<!DOCTYPE html>
<html ng-app="sciApp">
<head>	
	<title>Showcased.Ink</title>

	<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.4/themes/vader/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/table-nav.min.css" />
	<link rel="stylesheet" type="text/css" href="css/wells.css" />
	<link rel="stylesheet" type="text/css" href="css/modal.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/photo.css" />
	<link rel="stylesheet" type="text/css" href="css/shops.css" />
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.6.12/jquery.timepicker.min.css" />

	<link href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic' rel='stylesheet' type='text/css'>
	<link href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.13/angular-route.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script> <!-- Parallex -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/Vague.js/0.0.6/Vague.min.js"></script> <!-- Blurring elements -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/ng-flow/2.6.0/ng-flow-standalone.min.js"></script> <!-- Image Upload -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.mask/0.9.0/jquery.mask.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.6.12/jquery.timepicker.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
	<script src="//connect.facebook.net/en_US/sdk.js"></script>
	<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
	<script type="text/javascript" src="js/blur.js"></script>
	<script src="js/ui.js"></script>

	<!-- Angular Scripts -->
	<script src="js/app.js"></script>
	<script src="js/factories.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
</head>


<body ng-controller="authUser" ng-init="getAuth()" ng-class="{'stop-scroll': !hideModal}">
<!-- HEADER -->
<div id="header" ng-class="{'black': !hideModal}" >
	<a ng-href="/" target="_self"><img class="logo" src="img/logo_white.png" /></a>
	<span id="small-title" class="center hidden-xs">{{shop.name}}</span>
	<ul>
		<li><a href id="loginButton" ng-hide="isAuthed || !hideModal" ng-click="hideModal = false; showLogin = true" class="btn btn-2 animate pull-right">Login / Register</a></li>
		<li style=""><a href ng-click="getUserUrl()" class="btn btn-2 btn-link muli light pull-right" ng-show="isAuthed && hideModal">{{user.fName}} {{user.lastInitial}}.</a></li>

		<li style="padding-left: 15px;" ng-show="isAuthed && user.isArtist && hideModal">
			<a class="btn btn-2 btn-link muli light pull-right" ng-click="hideModal=false;showUpload=true;showLogin=false" href>
				<i class="fa fa-camera"></i> Upload
			</a>
		</li>

		<!-- <li style="padding-left: 15px;"> -->	
		<!-- <a href="#" class="btn btn-2 btn-link muli light pull-right" ng-show="isAuthed"><i class="fa fa-flag"></i></a></li> -->
		<li><a style="margin-left: 15px;" href="#" ng-click="logout()" class="btn muli light btn-2 btn-link pull-right" ng-show="isAuthed && hideModal">Sign Out</a></li>
		<li><a href id="cancel" ng-click="hideModal = true;showRegistration = false;showLogin=false;showUpload=false;reload();" ng-hide="hideModal" class="btn btn-2 animate pull-right">Cancel</a></li>
	</ul>
</div>


<div id="masthead" data-stellar-ratio="0.5" ng-controller="headerController" ng-show="shop.background" ng-style="{'background-image': 'url(http://'+ url + ':' + cdnPort + '/gallery/'+shop.background+')', 'background-position': 'center'}">

<div class="col-xs-12 center" id="masthead-shop" ng-controller="headerController" ng-show="isShop">
	<span class="title">{{shop.name}}</span><br />
	<span class="address">
		{{shop.address.city}}, {{shop.address.state}}<br />
		<i class="fa" ng-class="{'fa-star-o': shop.rating == 0, 'fa-star': shop.rating > 0}"></i>
		<i class="fa" ng-class="{'fa-star-o': shop.rating < 2, 'fa-star-half-o': shop.rating == 1.5, 'fa-star': shop.rating >= 2}"></i>
		<i class="fa" ng-class="{'fa-star-o': shop.rating < 2.5, 'fa-star-half-o': shop.rating == 2.5, 'fa-star': shop.rating >= 3}"></i>
		<i class="fa" ng-class="{'fa-star-o': shop.rating < 3.5, 'fa-star-half-o': shop.rating == 3.5, 'fa-star': shop.rating >= 4}"></i>
		<i class="fa" ng-class="{'fa-star-o': shop.rating < 4.5, 'fa-star-half-o': shop.rating == 4.5, 'fa-star': shop.rating >= 5}"></i>
	</span>

	<div id="artistRow" ng-show="shop.artists">
		<span>Artists</span>

		<ul>
			<li ng-repeat="artist in shop.artists">
				<a ng-href="#/artist/{{artist.artist.url}}">
					<div class="fixed-width img-circle" 
						ng-style="{'background-image': artistThumb(artist.artist.photo) }">
					</div>
				</a>
			</li>
		</ul>
	</div>

	<span class="pull-left" id="addressRow">
		{{shop.address.address1}} <br />
		{{shop.phone}}
	</span>

</div>

</div>

<div id="masthead" data-stellar-ratio="0.5" ng-controller="headerController" ng-hide="isShop" header-effects>
		<div ng-hide="shop" id="masthead-well" class="muli pull-left">
		Find great local tattoo artists and shops rated and reviewed by enthusiasts like you. 
		<p>Artists, maintain and share your professional portfolio and reach out to your local audience.</p>
	 	Want to create a local presence for your shop? Create a shop page and link to your artists' portfolios.

		 <p class="center" style="margin-top:20px;"><a href="#" class="btn register animate" scroll-to-search>Start Searching</a></p>
	</div>
</div>

<div id="contentPane">
	<div id="searchRow" class="muli" ng-controller="searchController">
		<h2 id="city">Philadelphia, PA</h2> <!-- <h3 id="changeLoc"><a href="#">(change)</a></h3> -->

		<a ng-href="#/search/{{search.keyword}}" id="search" class="fa-stack fa-lg pull-right hidden-sm hidden-xs">
		  <i class="fa fa-square fa-stack-2x"></i>
		  <i class="fa fa-search fa-stack-1x fa-inverse"></i>
		</a>
		<input type="text" ng-keypress="searchBar(search.keyword, $event.keyCode)" id="searchBox" ng-model="search.keyword" class="pull-right muli hidden-sm hidden-xs" placeholder="Search by artist, shop, or tag" />
	</div>

	<div id="viewport" ng-view autoscroll="true"></div>
</div>

<!-- Footer -->
<!-- <div id="footer"></div> -->


<div id="loginModal" class="overlay-bg" ng-hide="hideModal">
	<div class="modal">
		<!-- LOGIN -->
		<div ng-show="showLogin && !showRegistration" ng-include="'templates/login.html'"></div>
		<div ng-show="showRegistration" ng-include="'templates/register.html'"></div>
		<div ng-show="showUpload" ng-include="'templates/upload.html'"></div>

	</div>
</div>

</body>

</html>