.overlay-bg {
  position: fixed;
  background: rgba(0,0,0,0.85);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  z-index: 1000;  
  /*display: none;*/
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  color: #fff;
}

.stop-scroll {
  overflow: hidden;
}

.black {
  background: #000 !important;
}