.description .info {
	display: block;
}

.description {
	margin-bottom: 20px;
}

.description .info:not(:last-child) {
	margin-bottom: 10px; 
}

.description .sharing {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.description .sharing > li {
	display: inline;
}

.description .sharing > li:not(:first-child) {
	padding-left: 20px;
}

.photo a > img {
	max-height: 500px;
}

.photo a:hover img {
	cursor: zoom-in;
}

.photo.zoomed-in a img {
	cursor: zoom-out;
}

.photo.zoomed-in a > img {
	max-width:100%; 
	height:auto;
	max-height: none;
}

.thumbnail {
	width: 140px;
}

.artist-thumbnail img {
	width: 100%;
}

/* Comment styles */

.comments {
	margin-top: 30px;
}

.comments .title {
	color: #550000;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.comments ul {
	list-style: none;
	padding: 0px;
}

.comments ul > li {
}

.comments textarea {
	margin-top: 20px;
	resize: none;
	width: 100%;
	height: 100px;
	outline: none;
	border: 1px solid #ccc;
	padding: 10px;
}