#admin-links,
#glance,
#hours {
	list-style: none;
	padding-left: 0px;
}

#admin-links,
#glance {
	margin: 0px;
}

#admin-links > li,
#glance > li,
#hours > li {
	padding-bottom: 3px;
	padding-top: 15px;
	border-bottom: 1px solid #eee;
	font-weight: bold;
}

#admin-links > li:first-child,
#glance > li:first-child,
#hours > li:first-child {
	padding-top: 0px;
}

#admin-links > li,
#glance > li {
	border-bottom: none;
}

#hours > li .time {
	font-weight: normal;
	display: inline-block;
	float: right;
}

#hours .editHours input {
	width: 60px;
}

#hours > li.open {
	color: #00aa00;
}

#hours > li.closed {
	color: #aa0000;
}

#admin-links > li {
	padding-top: 0px;

}

#admin-links > li:not(:last-child) {
	margin-bottom: 6px;
}

.time-picker {
	width: 70px;
	border: none;
}

.well .fa-angle-right {
	margin-top: 2px;
}