#masthead {
	position: absolute;
	z-index: 0;
	height: 450px;
	width: 100%;
	left: 0;
	display: none;
	top: 0;
    background: url('../img/wallpaper_tattoo_blur2.png') no-repeat top;
    box-shadow: 0px 500px rgba(0, 0, 0, 0.4) inset;
    background-size: cover;
    background-position: top;
	box-sizing: border-box;
}

#masthead-well {
	position: relative;
	margin: 0 5% 0 5%;
	padding: 10px 20px 5px 20px;
	color: #fff;
	top: 18%;
	font-size: 1.15em;
	border-radius: 10px;
	background: rgba(68,68,68,.6);
	box-shadow: 0 0 3px 0 rgba(0,0,0,.8);
	border: 1px solid #555;
	/*text-shadow: 2px 2px #000;*/
	width: 30%;
	box-sizing: border-box;
	font-family: "Muli", "Helvetica", "Times New Roman", "Sans-serif";
}

#masthead-shop {
	position: absolute;
	padding: 5px;
	color: #fff;
	top: 26%;
}

#masthead-shop .title {
	font-weight: 800;
	font-size: 5em;
	letter-spacing: 2px;
	text-shadow: 2px 2px #000;
}

#addressRow,
#masthead-shop .address {
	font-size: 2.4em;
	font-weight: 300;
	letter-spacing: 3px;
	text-shadow: 1px 1px #000;
	display:block;
}

#addressRow {
	font-size: 1.7em;
	margin-top: 0px;
	margin-left: 20px;
	letter-spacing: 0px;
}

#masthead .register {
	border-radius: 60px;
	font-size: 0.75em;
	text-transform: uppercase;
}

#artistRow {
	margin-top: 0px;
	margin-right: 15px;
	float: right;
	font-weight: 800;
	text-shadow: 2px 2px #000;
	font-size: 0.9em;
	letter-spacing: 3px;
	text-transform: uppercase;
}

#artistRow ul {
	list-style: none;
	margin-top: 5px;
	padding-left: 0px;
}

#artistRow ul > li {
	display: inline-block;
	height: 45px;
	margin-right: 10px;
}

#artistRow ul > li div.fixed-width {
	width: 45px;
	height: 45px;
	overflow: hidden;
}

#artistRow ul > li div {
	width: 45px;
	box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.7);
	transition: box-shadow 0.2s;
	background-position: center;
	background-size: cover;
	background-color: #ee0000;
}

#artistRow ul > li a:hover div.fixed-width {
	box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
	transition: box-shadow 0.45s;
}

#header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1001;
	padding: 10px 20px 10px 5px;
	box-sizing: border-box;
}

#small-title {
	position: absolute;
	left: 40%;
	display: none;
	top: 10px;
	color: #FFF;
	text-shadow: 2px 2px #333;
	font-size: 40px;
}

#header a:hover {
	color: #fff;
}

#header a:visited {
	color: #fff;
}

#header ul {
	list-style: none;
	float: right;
	margin: 0px;
}

#header ul > li {
	display: inline-block;
}

#header .logo {
	width: 220px;
}

#impact {
	position: absolute;
	text-align: center;
	top: 16px;
	left: 35%;
	z-index: 500;
}

#impact h1 {
	color: #fff;
	font-size: 2em;
	font-family: "Muli", "Helvetica", "Times New Roman", "Sans-serif";
	text-shadow: 2px 2px #333;
	padding: 0px;
	margin: 0px;
}

#contentPane {
	position: absolute;
	/*height: 800px;*/
	top: 400px;
	background: #eee;
	left: 0;
	width: 100%;
	/*box-shadow: 0 0px 120px 30px #000;*/
}

.btn {
	display: inline-block;
	text-decoration: none;
	background: none;
	padding: 15px 30px;
	border: #fff solid 2px;
	color: #fff;
	transition: all 0.2s;
	text-shadow: none;
}

.title > .btn {
	margin-top: -10px;
	background: #660000;
	border: none;
}

.title > .btn:hover {
	color: #fff;
	background: #990000;
	transition: background 0.3s;
}

.btn:focus {
	color: #fff;
}

.btn.small {
	font-size: 0.75em;
	padding: 10px 20px;
}

.btn.xtra-small {
	font-size: 0.65em;
	padding: 5px 10px;
}

.btn-link {
	border: none;
	background: none;
	padding: 15px 0px;
}

.btn-2 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Muli", "Helvetica", "Times New Roman", "Sans-serif";
	font-weight: bold;
}

button {
	cursor: pointer;
}

button.disabled {
	background: rgba(100, 0, 0, 0.4) !important;
	border: none;
	transition: background 0s;
	outline: none;
}

button.invert {
	background: #770000;
	border-color: #770000;
	color: #fff;
}

.btn-2.invert {
	background: #770000;
	border-color: #770000;
	color: #fff;
}

.btn.animate:hover {
	/*color: #0e83cd;*/
	color: #770000 !important;
	background: #fff;
	transition: all 0.3s;
}

#city {
	color: #333;
	font-weight: 300;
	display: inline-block;
}

#changeLoc {
	position: relative;
	margin-left: 5px;
	display: inline-block;
}

#searchRow {
	width: 100%;
	position: absolute;
	background: #fff;
	box-sizing: border-box;
	padding: 0px 30px 0px 30px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	z-index: 100;
}

#searchRow a#search {
	margin-top: 12px;
}

#searchRow input {
	/*border: 1px solid #990000;*/
	color: #000;
	margin-top: 12px;
	margin-right: 20px;
	padding: 10px;
	width: 400px;
	outline: none;
	border: none;
	font-weight: 300;
	font-size: 1.3em;
	box-sizing: border-box;
}

#searchRow input::-webkit-input-placeholder {
   	font-style: italic;
	font-weight: 300;
}

#searchRow input:focus {
	border-bottom: 1px solid #aa0000;
}

h1.title,
#artistName {
	/*margin: 0px;*/
	padding-bottom: 10px;
	border-bottom: 1px solid #bbb;
	/*display: inline;*/
}

.artist-thumbnail {
	position: absolute;
	width: 85%;
	margin-top: 10px;
	max-height: 80px;
	border: 1px solid #fff;
	overflow: hidden;
	background-color: #fff;
}

#artistName small {
	color: #aaa;
	font-size: 0.8em;
}

/* Template viewport for templates */
#viewport {
	margin: 0px 30px 30px 30px;
	position: relative;
	top: 70px;
	height: 100%;
}

/* Reviews */

div.review {
	border-bottom: 1px solid #eee;
	display: inline-block;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.review .title {
	margin-top: 0px;
	margin-bottom: 0px;
}

.title .small {
	font-size: 0.9em;
}

.review .date {
	float: right;
}

.review .info {
	font-size: 0.9em;
}

.review .rating {
	/*text-transform: uppercase;*/
	font-size: 0.9em;
}

textarea.review {
	width: 100%;
	height: 100px;
	padding: 5px;
	outline: 1px solid #880000;
}

#newReview ul.rating {
	list-style: none;
	padding: 0px;
	font-size: 1em;
	float: left;
	text-transform: uppercase;
}

#newReview ul.rating > li.rating {
	margin-bottom: 10px;
}

#newReview ul.rating .fa-star,
#newReview ul.rating .fa-star-o {
	font-size: 1.3em;
}

#newReview textarea {
	margin-top:20px;
	margin-bottom: 20px;
	resize: none;
	height: 240px;
	padding: 10px;
}


/* Linear Photo Lists */

#newPhotos > li {
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid #ddd;
	line-height: 10px;
}


#newPhotos > li:first-child,
.linear > li:first-child {
	padding-left: 0px;
	border-left: none;
}

.linear > li a > div {
	overflow: hidden;
	height: 140px;
	width: 140px;
	display: inline-block;
}

.linear > li > a:hover > div {
	box-shadow: 0px 0px 5px 1px rgb(150, 0, 0);
	transition: box-shadow 0.2s;
}

.linear img {
	height: 100%;
	min-width: 140px;
}

.linear.scroll {
	white-space:nowrap;
	overflow-x: scroll;
	padding-top: 5px;
}

.linear > li {
	display: inline-block;
	border: none;
} 

.linear .title {
	font-size: 1.1em;
	display: block;
	margin-top: 6px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

/* Footer */
#footer {
	position: absolute;
	width: 100%;
	bottom: 0%;
}

/* Uploads */
img.preview {
	width: 300px;
}

#metaInput {
	margin-left: 20px;
}


/* SEARCH RESULTS AND DASHBOARD SHOP LIST */
#shopList,
.resultList {
	padding-left: 0px;
	list-style: none;
}

#shopList {
	margin-top: 20px;
}

#shopList a,
.resultList a {
	transition: all 0.2s;
}

#shopList a {
	display: block;
	padding: 15px;
	font-size: 1.1em;
}

#shopList > li {
	margin-bottom: 10px;
}

#shopList > li i {
	margin-top: 4px;
}

a#createShop {
	margin-top: -4px;
}

.searchResults .header {
	border-bottom: 1px solid #aa0000;
	padding-bottom: 10px;
}

.searchResults .linear > li {
	margin-bottom: 30px;
}

.resultList li > a {
	padding: 20px 0 20px 0;
	display: block;
}

.resultList li:not(:last-child) {
	border-bottom: 1px solid #ddd;

}

.resultList .info {
	margin-top: 8px;
}

.resultList li .number {
	font-size: 4em;
	color: #888;
	position: absolute;
	margin-top: 3px;
}

.resultList li .title {
	color: #333;
	font-size: 1.8em;
	margin-top: 2px;
	font-weight: 800;
}

.resultList .city {
	font-style: italic;
	font-size: 1.4em;
	font-weight: 400;
}

.resultList .comments {
	/*padding: 6px 0 15px 0;*/
	margin-top: 0px;
	font-size: 1.4em;
	text-align: right;
	color: #999;
}

.resultList .comments .count {
	font-size: 0.75em;
}

#shopList a:hover,
.resultList a:hover {
	background-color: rgba(119,0,0,1);
	transition: all 0.6s;
}

#shopList a:hover {
	color: #fff;
	transition: all 0.4s;
}

#shopList a:hover i {
	color: #fff;
	transition: all 0.4s;
}

.resultList a:hover .title,
.resultList a:hover .city,
.resultList a:hover .number,
.resultList a:hover .count,
.resultList a:hover .fa-image,
.resultList a:hover .fa-comment {
	color: #fff;
	transition: all 0.5s;

}

.resultList a:hover .fa-star {
	color: #ffd700;
	transition: all 0.5s;
}

.resultList img {
	width: 125%;
}

.img-rounded.small {
	width: 50px;
	height: 50px;
	display: inline-block;
}


/* CORE */

.nav-pills>li.active>a, .nav-pills>li.active>a:hover,a:active
{
	background-color: #770000;
}

.nav-pills {
	margin-top: 0px;
}

#manage.affix {
	top: 150px;
}

input.large {
	padding: 6px 10px;
	display: block;
	margin-bottom: 30px;
	font-size: 1.2em;
	outline: none;
	width: 300px;
	background: none;
	border: none;
	color: #fff;
	border-bottom: 1px solid #fff;
}

input.large.inline {
	display: inline;
}

input.padding-large,
input.padding {
	background-color: #FFF;
	outline: none;
	border-left: none;
	border-right: none;
	border-top: none;
	/*border-bottom: 1px solid #770000;*/
	padding: 10px;
}

input.padding-large {
	font-size: 1.5em;
}

input.invert {
	color: #333;
	background: #fff;
}

textarea.fancy,
input.fancy {
	background: none;
	border: 0px;
	outline: none;
	border-bottom: 1px solid #aa0000;
	color: #000;
}

input.fill {
	width: 100%;
}

input.fancy.invert {
	color: #fff;
}

textarea.fancy {
	border: 1px solid #aa0000;
}

textarea.fill {
	width: 100%;
	height: 100%;
}

input.animate:focus {
	border-color: #ee0000;
	transition: border-color 0.6s;
}

input.animate-dark:focus {
	border-color: #770000;
	transition: border-color 0.6s;
}

.muli {
	font-family: "Muli", "Helvetica", "Times New Roman", "Sans-serif";
}

.muli.light {
	font-weight: 300;
}

.faded {
	color: #555;
}

.error {
	color: #770000;
}

.hidden {
	display: none;
}

body {
	background: #eee;
	font-family: "Muli", "Helvetica", "Times New Roman", "Sans-serif";
}

a {
	color: #660000;
	text-decoration: none !important;
}

hr {
	border-color: #ccc !important;
	display: block;
}

a:hover {
	color: #330000;
}

a:focus {
	color: #330000;
	background: none;
}

a.invert {
	color: #fff;
}

.dark {
	color: #333;
}

.green {
	color: #00aa00;
}

a.small {
	font-size: 0.8em;
}

.center {
	text-align: center;
}