/*Content Wells - SCI 2015 */

.row {
	position: relative;
	width: 100%;
	display: inline-block;
	float: left;
	margin: 10px 0 10px 0;
}

#shopList a,
.well {
	background: #f9f9f9;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 1px 1px #d9d9d9;
	padding: 20px;
}

.widget {
	margin-bottom: 25px;
}