<div class="container-fluid" ng-init="getArtistInfo(); isMe()">

	<div class="row">
		<div class="col-sm-1 visible-md visible-lg">
			<a href="/#/artist/change_picture" id="thumbnail" ng-show="isMe">
				<div class="artist-thumbnail center" >
					<img class="thumbnail img-responsive" ng-src="http://{{url}}:{{cdnPort}}/gallery/{{artistInfo.artist.photo}}" ng-show="artistInfo.artist.photo" />
				</div>
			</a>

			<div class="artist-thumbnail center" ng-hide="isMe || !artistInfo.artist.photo">
				<img class="thumbnail img-responsive" ng-src="http://{{url}}:{{cdnPort}}/gallery/{{artistInfo.artist.photo}}" image-exists />
			</div>
		</div>

		<div class="col-md-11" ng-show="artistFound">
			<h1 id="artistName">{{artistInfo.fName}} {{artistInfo.lName}}
				<small ng-hide="!artistInfo.artist.nickname || nickEdit">({{artistInfo.artist.nickname}})</small>
				<a  class="small" 
					ng-hide="nickEdit || !isMe || !isAuthed" 
					ng-click="nickEdit = true" 
					href>
					<i class="fa fa-pencil"></i>
				</a>
				<span ng-show="nickEdit">
					(<input type="text"
					 ng-selected="nickEdit" 
					 class="fancy muli light"
					 placeholder="Nickname" 
					 ng-model="artistInfo.artist.nickname" />)
				
				<a  class="small" ng-click="updateNick()" href><i class="fa fa-check"></i></a>
				<a  class="small" ng-click="nickEdit = false; getArtistInfo()" href>
					<i class="fa fa-close"></i>
				</a>

				</span>
					
				<small>&ndash; 
				<i class="fa" ng-class="{'fa-star-o': artistInfo.artist.rating == 0, 'fa-star': artistInfo.artist.rating > 0}"></i>
					<i class="fa" ng-class="{'fa-star-o': artistInfo.artist.rating < 2, 'fa-star-half-o': artistInfo.artist.rating == 1.5, 'fa-star': artistInfo.artist.rating >= 2}"></i>
					<i class="fa" ng-class="{'fa-star-o': artistInfo.artist.rating < 2.5, 'fa-star-half-o': artistInfo.artist.rating == 2.5, 'fa-star': artistInfo.artist.rating >= 3}"></i>
					<i class="fa" ng-class="{'fa-star-o': artistInfo.artist.rating < 3.5, 'fa-star-half-o': artistInfo.artist.rating == 3.5, 'fa-star': artistInfo.artist.rating >= 4}"></i>
					<i class="fa" ng-class="{'fa-star-o': artistInfo.artist.rating < 4.5, 'fa-star-half-o': artistInfo.artist.rating == 4.5, 'fa-star': artistInfo.artist.rating >= 5}"></i>

				</small>
				<div class="pull-right">
					<a ng-href="#/profile/{{artistInfo._id}}" ng-show="isMe" style="font-size: 0.6em; margin-right: 15px;">(Go to you personal profile)</a>
					<a href class="dark"><i class="fa fa-facebook"></i></a>
					<a href class="dark"><i class="fa fa-twitter"></i></a>
					<a href class="dark"><i class="fa fa-instagram"></i></a>
					<a href class="dark"><i class="fa fa-pinterest"></i></a>
				</div>
			</h1>
		</div>

		<div class="col-md-12" ng-hide="artistFound"><h1 id="artistName">Artist not found.</h1></div>

	</div>

	<div class="row" ng-show="artistFound">
		<div class="col-md-8">
		    <h3 class="muli title">
		    Recent Reviews
		    <a href ng-show="isAuthed && !isMe" ng-click="showReview = true" class="btn small pull-right" focus-review>Add Review</a>
		    <span ng-hide="isAuthed" class="pull-right small"><a href ng-click="$parent.hideModal = false">Login</a> to leave a review.</span>
		    </h3>
			<div class="well col-md-12" style="display: inline-block">
				<h2 ng-show="!artistInfo.artist.reviews.length" class="col-xs-12 center faded">No reviews yet.</h2>

				<div ng-repeat="review in artistInfo.artist.reviews">
			
				<div class="review col-xs-12">
					<h4 class="title"><span class="date muli light">{{review.date | date: 'MMM d, yyyy'}}</span></h4>
					<p style="margin-top: 30px;">{{review.text}}</p>

					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Professionalism:
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 1, 'fa-star-o': review.professionalism < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 2, 'fa-star-o': review.professionalism < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 3, 'fa-star-o': review.professionalism < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 4, 'fa-star-o': review.professionalism < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 5, 'fa-star-o': review.professionalism < 5}"></i>
					</div>
					</div>
					<br />

					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Cleanliness:
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 1, 'fa-star-o': review.cleanliness < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 2, 'fa-star-o': review.cleanliness < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 3, 'fa-star-o': review.cleanliness < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 4, 'fa-star-o': review.cleanliness < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 5, 'fa-star-o': review.cleanliness < 5}"></i>
						</div>
					</div>

					<br />
					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Quality:
						<i class="fa" ng-class="{'fa-star': review.quality >= 1, 'fa-star-o': review.quality < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 2, 'fa-star-o': review.quality < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 3, 'fa-star-o': review.quality < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 4, 'fa-star-o': review.quality < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 5, 'fa-star-o': review.quality < 5}"></i>
					</div>
					</div>

					<br />
					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Cost:
						<i class="fa" ng-class="{'fa-star': review.cost >= 1, 'fa-star-o': review.cost < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 2, 'fa-star-o': review.cost < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 3, 'fa-star-o': review.cost < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 4, 'fa-star-o': review.cost < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 5, 'fa-star-o': review.cost < 5}"></i>
					</div>
					</div>
					
					<br />
					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Overall:
						<i class="fa" ng-class="{'fa-star': review.overall >= 1, 'fa-star-o': review.overall < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 2, 'fa-star-o': review.overall < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 3, 'fa-star-o': review.overall < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 4, 'fa-star-o': review.overall < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 5, 'fa-star-o': review.overall < 5}"></i>
					</div>
					</div>

					<div class="pull-right info">
						&ndash; <a ng-href="#/profile/{{review.author.id}}">{{review.author.fName}} {{review.author.lName}}</a>
					</div>
				</div>
			</div>

				<div id="newReview" class="row" ng-show="isAuthed && !isMe && showReview" style="display: inline-block;">
				<form ng-submit="addReview()">
					<ul class="rating col-xs-4">
						<li>Professionalism</li>
						<li class="rating"><span star-rating ng-model="review.pro"></span></li>

						<li>Cleanliness</li>
						<li class="rating"><span star-rating ng-model="review.clean"></span></li>

						<li>Quality<li>
						<li class="rating"><span star-rating ng-model="review.quality"></span></li>

						<li>Cost<li>
						<li class="rating"><span star-rating ng-model="review.cost"></span></li>

						<li>Overall<li>
						<li class="rating"><span star-rating ng-model="review.overall"></span></li>
					</ul>

					<textarea class="col-xs-8 fancy" ng-model="review.text"></textarea>

					<div class="col-xs-12"><input type="submit" class="btn btn-2 small invert pull-right" /></div>
				</form>
			</div>
			</div>
		</div>

		<div class="col-md-4">
		    <h3 class="muli">
		    Bio <a class="small pull-right animate" 
		    	   ng-click="bioEdit = true" 
		    	   ng-hide="!isMe || !isAuthed" 
		    	   href>
		    		<i class="fa fa-pencil" ng-click="bioEdit = true"></i>
		    	</a>
		    </h3>

			<div class="well">
				<span ng-hide="artistInfo.artist.bio || bioEdit" class="faded muli light">
					No bio submitted.
				</span>
				
				<span ng-show="artistInfo.artist.bio && !bioEdit" ng-bind-html="artistInfo.artist.bio | breakFilter | unsafe">
				</span>

				<div ng-show="bioEdit">
					<textarea class="fancy fill" ng-model="artistInfo.artist.bio" rows="10"></textarea>
					<div class="pull-right">
						<a  ng-click="updateBio()" href><i class="fa fa-check"></i></a>
						<a  ng-click="bioEdit = false; getArtistInfo();" href>
							<i class="fa fa-close"></i>
						</a>
					</div>
				</div>
			</div>

			 <h3 class="muli">Newest Photos</h3>
			<div class="well center col-xs-12" style="display: inline-block">
				<span class="faded muli light" ng-show="newPhotos.count == 0">No new photos.</span>
					<ul class="linear" style="padding: 0px;	">
				<li ng-repeat="photo in newPhotos.images" style="margin-right: 10px;">
					<a ng-href="#/photo/{{photo._id}}">
						<div class="img-rounded small center">
							<img image-exists style="min-width: 60px;" ng-src="http://{{url}}:{{cdnPort}}/gallery/{{photo.path}}"/>
						</div>
					</a>
				</li>
			</ul>
				</span>
			</div>
		</div>
	</div>
</div>

