<div class="row">
	<div class="col-md-12">
		<h1 id="artistName">Profile Picture Upload</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-12 center"
		ng-controller="uploadController"
		flow-files-submitted="$flow.upload()"
		flow-init="{testChunks:false, target: 'http://localhost:8080/artists/upload-photo', singleFile: true}"
		flow-name="obj.flow">

		<form ng-submit="profilePhotoUpload($flow.files[0], $flow)">
			<p>
				<input type="file" flow-btn flow-attrs="{accept:'image/*'}"/>
			</p>

			<img flow-img="$flow.files[0]" title="License upload." class="img-thumbnail thumbnail" ng-show="$flow.files[0]">

			<p>
				<button class="btn btn-2 small invert" type="submit">Upload Photo</button>
			</p>
		</form>
	</div>
</div>