<div class="container-fluid" ng-hide="!isAuthed">
	<div class="row">
		<div class="col-md-12">
			<h1 id="artistName">Convert Profile</h1>
			<p>This process will convert your basic user account to an artist account. You will maintain your basic profile page, but a new artist page will be created.</p>

			<h4 class="error">{{errorText}}</h4>

		</div>
	</div>


	<div class="row">
		<div class="col-md-12">
			<form ng-submit="convert()" method="post" name="convertForm">
			<h4>Address</h4><input required class="large invert muli light well animate" ng-model="convertData.addr" placeholder="Address" />
			<h4>City</h4><input required class="large invert muli light well animate" ng-model="convertData.city" placeholder="City" />
			<h4>State</h4><input required class="large invert muli light well animate" ng-model="convertData.state" placeholder="State (e.g. PA)" />
			<h4>Zip Code</h4><input type="number" required class="large invert muli light well animate" ng-model="convertData.zip" placeholder="Zip" />
			<h4>Unique URL</h4>

			showcased.ink/#/artist/ <input required class="large inline invert muli light well animate" ng-model="convertData.url" placeholder="Custom URL" />

			<div class="pull-right">
				<button ng-class="{'disabled': disable}" class="btn btn-2 invert" type="submit">Create</button>
			</div>

			</form>
		</div>

	</div>
</div>

<div class="container-fluid" ng-hide="isAuthed">
	<div class="row">
		<div class="col-md-12">
			<h1 id="artistName">You must login to become an artist.</h1>
		</div>
	</div>

</div>