<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		    <h3 class="muli">New Photos</h3>
			<div class="well" ng-include="'templates/widgets/newestphotos.html'"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8">
		    <h3 class="muli">Recent Reviews</h3>
			<div class="well">
				<div ng-include="'templates/widgets/reviews.html'"></div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="widget">
			    <h3 class="muli">My Account</h3>
				<div class="well">
					<div ng-include="'templates/widgets/myaccount.html'"></div>
				</div>
			</div>


			<div class="widget">
			 	<h3 class="muli">Featured Artist</h3>
				<div class="well">
					<div ng-include="'templates/widgets/featuredartist.html'"></div>
				</div>
			</div>

			<div ng-show="isAuthed">
			
			<hr />
			<div class="widget">
				<h3>My Shops <a href="#/shop/create" id="createShop" class="btn btn-2 xtra-small invert pull-right">Create Shop</a></h3>
				<span ng-hide="userShops.length" class="faded">No shops found.</span>

				<ul id="shopList">
					<li ng-repeat="item in userShops">
						<a ng-href="#/shop/{{item.customUrl}}">
							{{item.name}} 

							&nbsp;<i ng-show="item.isArtist" class="faded fa fa-paint-brush"></i>
							&nbsp;<i ng-show="item.isAdmin" class="faded fa fa-gavel"></i>

							<i class="fa fa-chevron-right pull-right"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

