<h2>Login</h2>

<form ng-submit="login()" method="post">
	<input class="large muli light animate" id="email" ng-model="loginForm.email" placeholder="Email" />
	<input class="large muli light animate" ng-model="loginForm.password" placeholder="Password" type="password" />
	<p>{{errorText}}</p>
	<a class="invert btn btn-link" ng-click='$parent.showRegistration = true; $parent.errorText = ""' href><i class="fa fa-user-plus red"></i>&nbsp; Create an account</a>
	<button class="btn btn-2 invert pull-right" type="submit">Log In</button>
</form>
