<div class="container-fluid">
	<div class="col-md-12">
		<h1 class="title">{{image.title}}</h1>
	</div>

	<div class="row info">
	<div class="col-md-3 col-md-push-9" ng-hide="zoomed">
			<div class="well description">
				<span class="info"><b>Artist:</b>
					<a ng-href="#/artist/{{image.artist.artist.url}}">{{image.artist.fName}} {{image.artist.lName}}</a>
				</span>
				
				<span class="info">
					<b>Tags:</b>
					<a ng-repeat="tag in image.tags" ng-href="#/search/{{tag}}">{{tag}}{{$last ? '' : ', '}}</a>
				</span>

				<span class="info"><b>Upload Date:</b> {{image.created | date: 'MMM d, yyyy'}}</span>
				<hr />

				<ul class="sharing center">
					<li><a href share-facebook class="dark"><i class="fa fa-2x fa-facebook"></i></a></li>
					<li>
						<a href ng-click="sharePinterest(); pinClick = true" class="dark">
							<i ng-hide="pinClick" class="fa fa-2x fa-pinterest"></i>
							<i ng-show="pinClick" class="fa fa-2x fa-refresh fa-spin"></i>
						</a>
					</li>
					<li><a href class="dark"><i class="fa fa-2x fa-link"></i></a></li>
				</ul>
			</div>

			<div class="row hidden-xs hidden-sm">
				<a href scroll-to-comments>
					<div class="well">
						View Comments ({{image.comments.length}}) <i class="pull-right pointer fa fa-angle-right"></i>
					</div>
				</a>
			</div>
		</div>

		<div class="photo" ng-class="zoomed ? 'col-md-12 zoomed-in' : 'col-md-9 col-md-pull-3'">
			<div class="center">
				<a href ng-click="zoomed = !zoomed">
					<img image-exists ng-src="http://{{url}}:{{cdnPort}}/gallery/{{image.path}}" 
						 title="{{image.title}} by {{image.artist.fName}} {{image.artist.lName}}"
					/>
				</a>
			</div>

			<h3 class="center">{{image.caption}}</h3>

			<div class="comments">
				<h2 class="title">Comments ({{image.comments.length}})</h2>

				<ul>
					<li ng-repeat="comment in image.comments" class="comment">
						<div class="row" ng-bind-html="comment.text | breakFilter | unsafe">
							
						</div>

						<div class="row">
							<span class="pull-right"> 
								- <a ng-href="#/profile/{{comment.author._id}}">{{comment.author.fName}} {{comment.author.lName}}</a>
								<br /><span class="pull-right">{{comment.date | date: 'M/dd/yyyy'}}</span>
							</span>
						</div>
					</li>
				</ul>
				<textarea ng-model="input.newComment" ng-show="isAuthed" placeholder='Add new comment'></textarea>
				<a href ng-show="isAuthed" ng-click="addComment(input.newComment); getDetails()" class="btn btn-2 small invert pull-right">Add Comment</a>
			</div>
		</div>

		
	</div>
</div>