<div class="container-fluid" ng-init="getProfile(); isMe(); getAllReviews();">

	<div class="row">
		<div class="col-md-12" ng-show="profileFound">
			<h1 id="artistName"> 
				{{profileInfo.fName}} {{profileInfo.lName}}
				<span class="pull-right" ng-show="isMe && !profileInfo.artist.isArtist" style="font-size: 0.6em; margin-top: 10px;">
					Artist? <a ng-href="#/profile/convert">Convert your profile.</a>
				</span>

				<span class="pull-right" ng-show="isMe && profileInfo.artist.isArtist" style="font-size: 0.6em; margin-top: 10px;">
					<a ng-href="#/artist/{{profileInfo.artist.url}}">
						Go to your artist page <i style="font-size: 0.7em;" class="fa fa-chevron-right"></i>
					</a>
				</span>

				<span class="pull-right" ng-show="!isMe && profileInfo.artist.isArtist" style="font-size: 0.6em; margin-top: 10px;">
					<a ng-href="#/artist/{{profileInfo.artist.url}}">
						Go to {{profileInfo.fName}}'s artist page <i style="font-size: 0.7em;" class="fa fa-chevron-right"></i>
					</a>
				</span>
			</h1>

		</div>

		<div class="col-md-12" ng-hide="profileFound">
			<h1 id="artistName">Profile not found.</h1>
		</div>

	</div>

	<div class="row" ng-show="profileFound" ng-show="isMe">
		<div class="col-xs-8">
		    <h3 class="muli title">Recent Reviews</h3>
			<div class="well col-xs-12" style="display: inline-block">
				<h2 ng-show="!recentReviews.reviews" class="col-xs-12 center faded">No reviews yet.</h2>
				
				
				<div ng-repeat="review in recentReviews[0].reviews">
				<div class="review col-xs-12">
					<h4 class="title"><span class="date muli light">{{review.date | date: 'MMM d, yyyy'}}</span></h4>
					<p style="margin-top: 30px;">{{review.text}}</p>

					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Professionalism:
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 1, 'fa-star-o': review.professionalism < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 2, 'fa-star-o': review.professionalism < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 3, 'fa-star-o': review.professionalism < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 4, 'fa-star-o': review.professionalism < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.professionalism >= 5, 'fa-star-o': review.professionalism < 5}"></i>
					</div>
					</div>
					<br />

					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Cleanliness:
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 1, 'fa-star-o': review.cleanliness < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 2, 'fa-star-o': review.cleanliness < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 3, 'fa-star-o': review.cleanliness < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 4, 'fa-star-o': review.cleanliness < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cleanliness >= 5, 'fa-star-o': review.cleanliness < 5}"></i>
						</div>
					</div>

					<br />
					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Quality:
						<i class="fa" ng-class="{'fa-star': review.quality >= 1, 'fa-star-o': review.quality < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 2, 'fa-star-o': review.quality < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 3, 'fa-star-o': review.quality < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 4, 'fa-star-o': review.quality < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.quality >= 5, 'fa-star-o': review.quality < 5}"></i>
					</div>
					</div>

					<br />
					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Cost:
						<i class="fa" ng-class="{'fa-star': review.cost >= 1, 'fa-star-o': review.cost < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 2, 'fa-star-o': review.cost < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 3, 'fa-star-o': review.cost < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 4, 'fa-star-o': review.cost < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.cost >= 5, 'fa-star-o': review.cost < 5}"></i>
					</div>
					</div>
					
					<br />
					<div class="rating faded col-xs-5">
					<div class="pull-right">
					Overall:
						<i class="fa" ng-class="{'fa-star': review.overall >= 1, 'fa-star-o': review.overall < 1}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 2, 'fa-star-o': review.overall < 2}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 3, 'fa-star-o': review.overall < 3}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 4, 'fa-star-o': review.overall < 4}"></i> 
						<i class="fa" ng-class="{'fa-star': review.overall >= 5, 'fa-star-o': review.overall < 5}"></i>
					</div>
					</div>

					<div class="pull-right info">
						&ndash; <a ng-href="#/profile/{{review.author.id}}">{{review.author.fName}} {{review.author.lName}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		    <h3 class="muli">Stats</h3>
			<div class="well">
				Reviews: {{recentReviews[0].reviews.length || '0'}}
			</div>
		</div>
</div>

