<h2>Register</h2>

<form ng-submit="register()" method="post">
	<input class="large muli light animate" ng-model="loginForm.email" placeholder="Email" />

	<input class="large muli light animate" ng-model="regForm.fName" placeholder="First Name" />

	<input class="large muli light animate" ng-model="regForm.lName" placeholder="Last Name" />

	<input class="large muli light animate" ng-model="loginForm.password" placeholder="Password" type="password" />
	<input class="large muli light animate" ng-model="regForm.passConfirm" placeholder="Confirm Password" type="password" />
	<input class="large muli light animate" ng-model="regForm.birthday" type="text" placeholder="Birthday" />
	<p>{{errorText}}</p>
	<button class="btn btn-2 invert pull-right" type="submit">Sign Up</button>
</form>
