<h2>Upload Image</h2>
<h3 class="muli light">5MB file limit</h3>

<div 
	ng-controller="uploadController"
	flow-files-submitted="$flow.upload()"
	flow-init="{testChunks:false, target: 'http://localhost:8080/gallery/upload-file', singleFile: true}"
	flow-name="obj.flow">

	<input type="file" flow-btn flow-attrs="{accept:'image/*'}"/>

	<p>{{errorText}}</p>

	<img class="preview col-xs-8" ng-show="$flow.files[0]" flow-img="$flow.files[0]" />

	<form class="col-xs-4" id="metaInput" method="post" ng-show="$flow.files[0]" ng-submit="complete($flow.files[0], $flow)">
		<input type="text" class="fancy invert large animate" ng-model="upload.title" required placeholder="Title"/>
		<input type="text" class="fancy invert large animate" ng-model="upload.caption" placeholder="Caption"/>
		<tag-input placeholder="Add Tags" ng-model="tags"></tag-input>

		<p>{{errorMsg}}</p>
		
		<button class="btn btn-2 invert pull-right" type="submit">Update Info</button>
	</form>
</div>
